.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #000;
}

.header__link {
  color: #1db954;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}
